<c-row>
  <c-col lg="3" xs="12" md="3" xl="3">
    <c-widget-stat-f
      [title]="'Common Plant'"
      class="mb-3"
      color="primary-gradient"
      padding
      [value]="mostUploadedPlant()"
    >
    </c-widget-stat-f>
  </c-col>

  <c-col lg="3" xs="12" md="3" xl="3">
    <c-widget-stat-f
      [title]="'Common Disease'"
      class="mb-3"
      color="primary-gradient"
      padding
      [value]="commonDisease()"
    >
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12" md="3" xl="3">
    <c-widget-stat-f
      [title]="'Mean Confidence'"
      class="mb-3"
      color="primary-gradient"
      padding
      [value]="meanConfidence() + '%'"
    >
    </c-widget-stat-f>
  </c-col>

  <c-col lg="3" xs="12" md="3" xl="3">
    <c-widget-stat-f
      [title]="'Credits'"
      class="mb-3"
      color="primary-gradient"
      padding
      [value]="credits()"
    >
    </c-widget-stat-f>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="text-center mb-4">
      <c-card-body>
        <div *ngIf="hasCredits()">
          <div class="text-center">
            <div class="clearfix">
              <p>
                <img *ngIf="isUploading()" src="assets/images/thinking.gif" width="300" height="300" alt=""/>
                <img cImg [src]="img" *ngIf="!isUploading()" width="300" height="300" (click)="fileInput.click()" alt=""/>
              </p>
            </div>
          </div>
          <div class="text-center">
            {{ currentPlant() }}
          </div>
          <input #fileInput cFormControl style="display: none;" id="formFileSm" sizing="sm" type="file" (change)="onFileSelected($event)"/>
          <c-progress [value]="uploadProgress()" color="info" thin class="mt-2" *ngIf="isUploading()"/>
        </div>
        <c-alert color="danger" class="d-flex align-items-center" *ngIf="!hasCredits()">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#exclamation-triangle-fill"/>
          </svg>
          <div>You have run out of vision request credits. Please contact support or purchase another vision bundle.</div>
        </c-alert>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Species</th>
            <th class="bg-body-tertiary text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Credits Used</th>
            <th class="bg-body-tertiary text-center">Confidence</th>
            <th class="bg-body-tertiary text-center">Information</th>
            <th class="bg-body-tertiary d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Detection Date</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let detection of detections(); trackBy: trackByDetectionId">
            <tr>
              <td>
                <div>{{ detection.disease }}
                  <span *ngIf="detection.enrichment && detection.enrichment !== '' && detection.showEnriched">
                    (Analysed)
                  </span>
                  <span *ngIf="!detection.enrichment || detection.enrichment === ''">
                    (<span class="gradient-text">Analysing</span>)
                  </span>
                </div>
                <div class="small text-body-secondary text-nowrap">
                  <span>
                    {{ detection.plant }}
                  </span>
                </div>
              </td>
              <td class="text-center d-md-table-cell d-none d-lg-table-cell d-xl-table-cell">
                {{ detection.credits_used }}
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ detection.confidence }}%</strong>
                  </div>
                </div>
                <c-progress thin [value]="detection.confidence" [color]="detection.progressBarColor" aria-label="Usage"/>
              </td>
              <td class="text-center">
                <button (click)="openEnrichmentModal(detection)" [disabled]="!detection.enrichment" cButton [color]="detection.enrichment && detection.enrichment !== '' ? 'primary' : 'secondary'" size="sm">Details</button>
              </td>
              <td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
                <div class="fw-semibold text-nowrap">{{ detection.processed_at | date:'yyyy-MM-dd' }}</div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<app-enrichment-modal></app-enrichment-modal>
<c-modal id="corrupted-enrichment" [visible]="isCorruptedEnrichmentVisible()" (visibleChange)="handleEnrichmentCorruptionChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Enrichment Corrupted</h5>
    <button (click)="closeEnrichmentCorruption()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>It appears the enrichment is corrupted, would you like to request it again?</c-modal-body>
  <c-modal-footer>
    <button (click)="closeEnrichmentCorruption()" cButton color="secondary">
      Close
    </button>
    <button (click)="retryEnrichment()" cButton color="primary">Request</button>
  </c-modal-footer>
</c-modal>
