<c-row>
  <c-col xs>
    <c-card class="mb-1">
      <c-card-body class="p-0">
<table cTable [responsive]="true">
  <thead>
  <tr>
    <th>Layer (type)</th>
    <th>Output Shape</th>
    <th class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Param #</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let layer of layers; let i = index">
  <tr
      (click)="toggleDescription(i)"
      [class.active]="layer.isExpanded">
    <td>
<!--      <fa-icon class="layer-icon"  [icon]="getLayerIcon(layer.type)"></fa-icon>-->
      {{layer.name}} ({{layer.type}})
    </td>
    <td>{{layer.outputShape}}</td>
    <td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">{{layer.params | number}}</td>
  </tr>
  <tr *ngIf="layer.isExpanded" class="description-row">
    <td colspan="3" class="description-cell">
      <h4>{{layer.name}}  Details</h4>
      <p>{{layer.description}}</p>
    </td>
  </tr>
  </ng-container>
  </tbody>
</table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
